<template>
  <div class="main">
    <RightsTree :objects="obj"></RightsTree>
  </div>
</template>

<script>
// @ is an alias to /src
import RightsTree from "@/components/RightsTree.vue";
export default {
  name: "Main",
  components: {
    RightsTree
  },
  data() {
    return {
      obj: [
        {
          id: 1,
          parentId: 0,
          name: "1",
          checked: true
        },
        {
          id: 2,
          parentId: 0,
          name: "2",
          checked: false
        },
        {
          id: 3,
          parentId: 1,
          name: "1 1",
          checked: true
        },
        {
          id: 4,
          parentId: 2,
          name: "2 1",
          checked: false
        },
        {
          id: 5,
          parentId: 4,
          name: "2 1 1",
          checked: true
        },
        {
          id: 6,
          parentId: 4,
          name: "2 1 2",
          checked: false
        },
        {
          id: 7,
          parentId: 2,
          name: "2 2",
          checked: true
        },
        {
          id: 8,
          parentId: 4,
          name: "2 1 3",
          checked: true
        },
        {
          id: 100,
          parentId: 0,
          name: "Главное",
          checked: true
        },
        {
          id: 101,
          parentId: 100,
          name: "чтоб",
          checked: true
        },
        {
          id: 102,
          parentId: 101,
          name: "это",
          checked: true
        },
        {
          id: 103,
          parentId: 102,
          name: "решение",
          checked: true
        },
        {
          id: 104,
          parentId: 103,
          name: "не",
          checked: true
        },
        {
          id: 105,
          parentId: 104,
          name: "имело",
          checked: true
        },
        {
          id: 106,
          parentId: 105,
          name: "предела",
          checked: true
        },
        {
          id: 107,
          parentId: 106,
          name: "вложенностей",
          checked: true
        },
        {
          id: 108,
          parentId: 107,
          name: "потомков",
          checked: true
        },
        {
          id: 109,
          parentId: 108,
          name: ".",
          checked: true
        }
      ]
    }
  }
};
</script>
