<template>
  <div class="tree">
    <h1>Tree</h1>

    <h2>Result</h2>
    <TreeElement :objects="objects"></TreeElement>

    <h2>Data</h2>
    <pre>{{ objects }}</pre>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import TreeElement from "@/components/TreeElement.vue";

export type Right = {
  id: number;
  parentId: number;
  name: string;
  checked: boolean;
};

@Component({
  components: {
    TreeElement
  }
})
export default class RughtsTree extends Vue {
  @Prop({ default: [] }) objects!: Array<Right>;
}
</script>

<style scoped>
.tree {
  text-align: left;
}
</style>
