<template>
  <ul>
    <li v-for="el in level" :key="el.id">
      <label :for="'cb-' + el.id">
        <input
          type="checkbox"
          v-model="el.checked"
          :id="'cb-' + el.id"
          :indeterminate.prop="isIndeterminate(el.id)"
        />
        {{ el.name }}
      </label>
      <TreeElement :objects="objects" :parent="el.id"></TreeElement>
    </li>
  </ul>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Right } from "@/components/RightsTree.vue";

@Component({})
export default class TreeElement extends Vue {
  @Prop({ default: [] }) objects!: Array<Right>;
  @Prop({ default: 0 }) parent!: number;

  get level() {
    return this.objects.filter(el => el.parentId === this.parent);
  }

  isIndeterminate(id: number): boolean {
    let on = false;
    let off = false;
    for (const obj of this.objects.filter(el => el.parentId === id)) {
      if (this.isIndeterminate(obj.id) === true) return true;
      if (obj.checked === true) on = true;
      if (obj.checked === false) off = true;
      if (on && off) return true;
    }
    return false;
  }
}
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  padding: 0.3em 0 0.3em 1em;
}
label {
  padding: 0.1em 1em 0.1em 0;
}
</style>